<div style="background: #010101;">
    <p class="topname">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Torneo en proceso</p>
</div>
<div class="div1 container text-center">
    <section class="div2 rounded row">
        <img src="/img/calendario.jpg" alt="" class="mx-auto d-block m-4 responsive">
    </section>

    <section>
        <table class="table table-hover table-dark">

            <thead>
                <tr>
                    <th scope="col">Fechas</th>
                    <th scope="col">Team1</th>
                    <th scope="col">Team2</th>
                    {{#if user}}
                    {{#each user}}
                    {{#ifCond this.userType '==' 'userA'}}
                    <th scope="col">Delete</th>
                    {{/ifCond}}
                    {{/each}}
                    {{/if}}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">12/7/2023</td>
                    <td>PSG.LGD</td>
                    <td>Team Squad</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td scope="row">12/7/2023</td>
                    <td>PSG.LGD</td>
                    <td>Team Squad</td>
                    {{#if user}}
                    {{#each user}}
                    {{#ifCond this.userType '==' 'userA'}}
                    <td>
                        <form action="/equipos/delete/{{_id}}?_method=DELETE" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-block btn-sn"
                                onclick="return confirmacion()"><i class="fa fa-trash"></i></button>
                        </form>
                    </td>
                    {{/ifCond}}
                    {{/each}}
                    {{/if}}
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td scope="row">12/7/2023</td>
                    <td>PSG.LGD</td>
                    <td>Team Squad</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td scope="row">12/7/2023</td>
                    <td>PSG.LGD</td>
                    <td>Team Squad</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td scope="row">12/7/2023</td>
                    <td>PSG.LGD</td>
                    <td>Team Squad</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td scope="row">12/7/2023</td>
                    <td>PSG.LGD</td>
                    <td>Team Squad</td>
                </tr>
            </tbody>
        </table>
    </section>

</div>
</div>