<div style="background: #010101;">
    <p class="topname">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Torneo en proceso</p>
</div>
<div class="div1 container text-center">
    <section class="div2 rounded row">
        <img src="/img/calendario.jpg" alt="" class="mx-auto d-block m-4 responsive">
    </section>

    <section>
        <table class="table table-hover table-dark">

            <thead>
                <tr>
                    <th scope="col">Fechas</th>
                    <th scope="col">Team1</th>
                    <th scope="col">Team2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">12/7/2023</th>
                    <td>PSG.LGD</td>
                    <td>Team Squad</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th scope="row">12/7/2023</th>
                    <td>PSG.LGD</td>
                    <td>Team Squad</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th scope="row">12/7/2023</th>
                    <td>PSG.LGD</td>
                    <td>Team Squad</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th scope="row">12/7/2023</th>
                    <td>PSG.LGD</td>
                    <td>Team Squad</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th scope="row">12/7/2023</th>
                    <td>PSG.LGD</td>
                    <td>Team Squad</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <th scope="row">12/7/2023</th>
                    <td>PSG.LGD</td>
                    <td>Team Squad</td>
                </tr>
            </tbody>
        </table>
    </section>

</div>
</div>