<div class="">
    <h4 class="text-center" style="center">Bienvenidos a nuestra pequeña comunidad de DotA2 en Cuba.</h4>
    <img src="/img/FrontPage.jpg" alt="" class="mx-auto d-block m-4 responsive">
</div>