<div style="background: #343a40!important" class="rounded b2">
    <b class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Torneo en proceso</b>
</div>

{{#ifCond user.userType '==' 'userA'}}
<form action="/storage/" method="POST" enctype="multipart/form-data">
    <div style="margin: 5px;">
        <input type="file" name="calendario" class="btn btn-link">
    </div>
    <div style="margin: 5px;">
        <input type="submit" value="Cambiar Calendario" class="btn btn-primary">
    </div>
</form>
{{/ifCond}}

<div class="container text-center">
        <img src="/img/calendario.jpg" alt="" class="mx-auto d-block m-4 responsive">


    <section>
        <div class="table-wrapper">
            <table class="table table-hover table-dark">

                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Team 1</th>
                        <th scope="col">Team 2</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr>
                        <th scope="row">{{@index}}</th>
                        <td>{{fecha}}</td>
                        <td>{{equipo1}}</td>
                        <td>{{equipo2}}</td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
    </section>

</div>
</div>