<div style="background: #010101;">
    <p class="topname">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Torneo en proceso</p>
</div>
<div class="div1 container text-center">
    <section class="div2 rounded row">
        <img src="/img/calendario.jpg" alt="" class="mx-auto d-block m-4 responsive">
    </section>

    <section>
        <div class="table-wrapper">
            <table class="table table-hover table-dark">

                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Team 1</th>
                        <th scope="col">Team 2</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr>
                        <th scope="row">{{@index}}</th>
                        <td>{{fecha}}</td>
                        <td>{{equipo1}}</td>
                        <td>{{equipo2}}</td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </div>
    </section>

</div>
</div>